deploymentMode: SingleBinary

serviceAccount:
  create: false
  name: loki-sa

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  server:
    http_listen_port: 3100
  schemaConfig:
    configs:
      - from: 2024-01-01
        store: boltdb-shipper
        object_store: gcs
        schema: v13
        index:
          prefix: index_
          period: 24h
  storage_config:
    gcs:
      bucket_name: loki-nbss
    boltdb_shipper:
      active_index_directory: /var/loki/index
      cache_location: /var/loki/cache
      shared_store: gcs

singleBinary:
  replicas: 1
