serviceAccounts:
  prometheus:
    name: prometheus-sa
    create: false

prometheus:
  prometheusSpec:
    retention: 15d
    serviceAccountName: prometheus-sa
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: standard
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 50Gi
    thanos:
      create: true
      objectStorageConfig:
        type: GCS
        config:
          bucket: prometheus-nbss
          service_account: prometheus-gcs@nbss-test-project.iam.gserviceaccount.com

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: standard
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

grafana:
  enabled: true
  persistence:
    enabled: true
    type: pvc
    size: 10Gi
    storageClassName: standard
  sidecar:
    dashboards:
      enabled: true
      searchNamespace: ALL
    datasources:
      enabled: true
